<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="head">
        Registration and Login
        <p>
            <button >
                Register
            </button>
            <button >
                Login
            </button>
        </p>
    </h1>
    <h1>
        Hello Server Currrent Date and Time : <br> {{insert_date}}
    </h1>
    <br>
   <script src="./Scripts/index.js"></script>
   <h1>
    Pikachu: <br> {{dict}}
   </h1>

    <br>

   {% for student in student %}
   Name :{{student.name}}<br>
Department :{{student.department}}<br>
   Roll.Number :{{student.rollno}}<br>
   <br><hr>
   {% endfor %}
   
</body>
</html>
-->

<h1>Home Page</h1>

Hello {{ user }}

<a href="{% url 'logout' %}">Logout </a>